MONGO_URL =
SECRET = 

CLOUDINARY_NAME = 
CLOUDINARY_API_KEY = 
CLOUDINARY_SECRET = 

MYEMAIL = 
MYPASSWORD = 
SMTP_FROM_EMAIL_NAME = 
SMTP_USER =

VESICASH_PUBLIC_KEY: 
VESICASH_PRIVATE_KEY: 
 
FLUTTERWAVE-SECRET-KEY = 
FLUTTERWAVE-PUBLIC-KEY = 
FLUTTERWAVE-ENCRYPTION-KEY = 